NGINX_PORT=443
POSTGRES_PORT=5432
FS_VOLUME_PORT=8888
FS_S3_PORT=9999
FS_ADMIN_PORT=8899
ADMINER_PORT=8181

DJANGO_DOMAIN=musicdjam.kabada.org
FS_ADMIN_DOMAIN=fs.admin.kabada.org
FS_S3_DOMAIN=fs.s3.kabada.org
ADMINER_DOMAIN=adminer.kabada.org

SSL_DIR_PATH=./ssl
SSL_CERTIFICATE_PUBLIC_KEY_PATH=./ssl/fullchain.pem
SSL_CERTIFICATE_PRIVATE_KEY_PATH=./ssl/privkey.pem

DJANGO_SECRET_KEY=SKYTuoqvgBdY2GOE2W0fsniZZFcieXCOBU21CmPg6LWkejUdhS

POSTGRES_DB=earpiece
POSTGRES_USER=admin
POSTGRES_PASSWORD=password4231

FS_MASTER_VOLUME_DIR=./volumes/fs_master
FS_ADMIN_VOLUME_DIR=./volumes/fs_admin
FS_VOLUME_VOLUME_DIR=./volumes/fs_volume

FS_S3_ACCESS_KEY_ID=myaccesskeyid
FS_S3_SECRET_ACCESS_KEY=mysecretaccesskey
